.logo {
    width: 180px;
    height: 100px;
   
}

hr{
    width:300px;
    margin:5px;
    border:none;
    border-top:2px solid rgb(183, 185, 14);
}

h2{ color:#EA4335;
    border-left:5px solid #4285F4;
    padding-left:10px;

}
button{
    background-color:#8aace2;
    color:white;
    border:none;
    padding:20px 24px;
    font-size:16px;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background-color:#b4c2e2;
}

ul{
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
}
li{
    list-style-type: disc;
}

.card {width: 150px; height: 120px; perspective: 500px;}

.inner {
    position: relative;
    width: 150%; height: 90%;
    transition:transform 0.6s;
    transform-style:preserve-3d;
}
.card:hover .inner {transform: rotateY(180deg);}

.front, .back {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px; color: white; font-size: 20px;
    backface-visibility: hidden;
}

.front {background: rgb(212, 178, 219);}
.back {background: rgb(179, 141, 216); transform: rotateY(180deg);}

body {
    background-color: lightblue;
}