* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "맑은 고딕", sans-serif;
}

.header {
    background: #4CAF50;
    color:white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
}

.menu {
    background: #9c8989;;
}

.menu ul {
    display: flex;
    justify-content: center;
}
.menu li {
    color:white;
    padding: 15px 30px;
    cursor: pointer;
}
.menu li:hover {
    background: #555;
}

.content {
    padding: 30px;
    min-height: 300px;
}

.content h1{
    margin-bottom: 20px;
    color:#333;
}

.box {
    border: 1px solid gray;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    transition: .4s;
}

.box:hover {
    transform:scale(1.08) rotate(2deg);
    background:#ffeaa7;
}
.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

body {
    background: linear-gradient(135deg,#74ebd5,#9face6);
}

